.ReactCrop__rule-of-thirds-vt::before,
.ReactCrop__rule-of-thirds-vt::after,
.ReactCrop__rule-of-thirds-hz::before,
.ReactCrop__rule-of-thirds-hz::after {
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.4);
}
.ReactCrop__rule-of-thirds-vt::before,
.ReactCrop__rule-of-thirds-vt::after {
	width: 1px;
	top: 0;
	bottom: 0;
}
.ReactCrop__rule-of-thirds-vt::before {
	left: 33.3333%;
	left: calc(100% / 3);
}
.ReactCrop__rule-of-thirds-vt::after {
	left: 66.6666%;
	left: calc(100% / 3 * 2);
}
.ReactCrop__rule-of-thirds-hz::before,
.ReactCrop__rule-of-thirds-hz::after {
	left: 0;
	right: 0;
	height: 1px;
}
.ReactCrop__rule-of-thirds-hz::before {
	top: 33.3333%;
	top: calc(100% / 3);
}
.ReactCrop__rule-of-thirds-hz::after {
	top: 66.6666%;
	top: calc(100% / 3 * 2);
}
